.container {
  padding-top: 0px;
  height: 100%;
}

#header {
  font-family: "ghostmeat";
}

.content {
  font-weight: bold;
  font-family: "Oswald";
}

.track {
  float: left;
  font-size: 1.1em;
}

.info:hover,
#header:hover {
  cursor: pointer;
  color: var(--highlight);
}

.date {
  float: right;
  font-family: "Oswald";
}

.info {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
