.container {
  border: 2px solid var(--main-color);
  border-radius: 12px;
  padding: 20px;
  padding-top: 0px;
}

#title {
  font-family: "ghostmeat";
  font-size: 1.5em;
}

.content {
  font-weight: bold;
  font-family: "Oswald";
}

.track {
  float: left;
  font-size: 1.1em;
}

.info:hover,
#title:hover {
  cursor: pointer;
  color: var(--highlight);
}

.ranking {
  font-family: "Oswald";
  float: right;
  font-size: 1.2em;
}

.info {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}

#next,
#last {
  padding: 0px 12px;
  border-radius: 12px;
  border: 2px solid var(--main-color);
  font-family: "Oswald";

  width: 30px;
  height: 35px;
  font-size: 1.1em;
  line-height: 1.8em;
}

#next:hover,
#last:hover {
  cursor: pointer;
  background-color: var(--highlight);
}

#header {
  display: flex;
  justify-content: space-between;
}

#header > div {
  margin: 30px 15px 10px 15px;
}
