#container {
  display: flex;
}

.section-column {
  margin: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex: 1;
}
.section-row {
  margin: 20px;
  align-items: center;
  justify-content: center;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#playback {
  margin: auto;
  width: 30%;
}
