.container {
  border: 2px solid var(--main-color);
  border-radius: 12px;
  padding: 20px;
  padding-top: 0px;
}

.content {
  font-weight: bold;
}

.track {
  float: left;
}

.date {
  float: right;
}

.info {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
