.container {
  border: 2px solid var(--main-color);
  border-radius: 12px;
  padding: 20px;
  padding-top: 0px;
}

#header {
  font-family: "ghostmeat";
}

.content {
  font-weight: bold;
  font-family: "Oswald";
}

.track {
  float: left;
  font-size: 1.1em;
}

.info:hover {
  cursor: pointer;
  color: var(--highlight);
}

.date {
  float: right;
  font-family: "Oswald";
}

.info {
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
