.container {
  border: 2px solid var(--main-color);
  padding: 25px;
  border-radius: 12px;
  background: var(--main-background);
}

.now-playing {
  font-family: "Oswald";
  margin-bottom: 20px;
}

.button {
  margin: 5px;
  color: white;
  border-radius: 12px;
}

.buttons {
  padding: 12px;
}

.curr-track {
  font-size: 1.5em;
  line-height: 1em;
}
.artist {
  font-size: 1em;
}

.info {
  color: white;
}

.playlist {
  font-size: 1.2em;
  font-family: "Oswald";
  margin-bottom: 20px;
  font-weight: 888;
}

.now-playing-cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-bottom: 15px;
}
